@import '../../../../utils.less';

.ui-group-meta-page {
  flex: 1;

  ul,
  li {
    list-style: none;
  }

  &-side {
    flex: none;
    width: 304px;
    padding: 30px 20px 0;
    margin-right: 1px;
    overflow-y: auto;
    background-color: @bg-2;

    li {
      &:hover {
        background-color: @bg-3 !important;
      }
    }

    .title {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: @color-2;
    }
  }

  &-base-group {
    width: 240px;
    padding: 10px;
    margin-right: 16px;

    .meta-node-title {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 10px;

      &.custom-title {
        justify-content: space-between;

        .add {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }

      span {
        display: flex;
        align-items: center;
      }

      .icon {
        margin-right: 6px;
      }
    }

    ul.custom-list {
      li {
        justify-content: space-between;
        align-items: center;

        > span {
          width: 140px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .icon-more {
          display: none;
          margin-right: 12px;
          cursor: pointer;

          &:hover {
            border-radius: 4px;
            background-color: @bg-2;
          }
        }

        &:hover .icon-more {
          display: inline-flex;
        }
      }
    }

    ul.default-list,
    ul.custom-list {
      li {
        display: flex;
        align-items: center;
        height: 30px;
        margin-bottom: 1px;
        cursor: pointer;

        &.active,
        &:hover {
          border-radius: 4px;
          background-color: @bg-3;
        }

        span {
          margin-left: 18px;
        }
      }
    }
  }

  .search-input {
    .ivu-input-suffix {
      display: flex;

      i {
        margin: auto;
        cursor: pointer;
      }
    }

    input {
      font-size: 14px;
      background-color: @bg-2;

      &:hover,
      &:focus {
        border-width: 2px;
      }
    }

    & > div:last-child {
      float: right;
      padding-top: 6px;

      & > span {
        font-weight: 400;
        font-size: 12px;
        cursor: pointer;
      }

      & > span:first-child {
        padding-right: 10px;
        color: @color-9;
      }

      & > span:last-child {
        color: @primary-color;
      }
    }
  }
}
