@import '../../utils.less';

.ui-register-success-page {
  align-items: center;
  color: #17233D;

  .congrat {
    margin-top: 63px;
    font-size: 20px;
    font-family: PingFangSC-Semibold, sans-serif;
  }

  .auto-goback {
    margin-top: 10px;
    font-family: PingFangSC-Regular, sans-serif;
  }

  .go-home {
    width: 360px;
    margin-top: 57px;

    span {
      color: white;
    }
  }
}
