@import '~@/utils.less';

.ui-config {
  display: flex;
  flex: 1;

  .side-menu {
    flex: none;
    width: 232px;
    padding-top: 46px;

    .ivu-menu-item {
      align-items: center;
      margin: 17px 8px;
      font-weight: 400;
      font-size: 14px;
      color: @color-5;

      &-active {
        font-weight: 600;
        color: @color-1 !important;
      }

      .x-icon {
        margin-right: 12px;
      }
    }
  }

  &--content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 16px;
  }
}
