.contacts_group.contacts_user {
  .tree-page {
    display: inline-block;
    width: 25%;
    height: calc(100vh - 84px);
    vertical-align: top;
    .el-card {
      height: calc(100vh - 84px) !important;
      overflow-y: auto;
    }
  }
  .table-page {
    display: inline-block;
    width: 75%;
    height: 100%;
  }
}