::v-deep .el-tabs--left .el-tabs__header.is-left {
  width: 228px;
  padding-top: 24px;
}

::v-deep .el-tabs--left .el-tabs__item.is-left {
  text-align: left;
}

::v-deep .el-tabs__item {
  padding-left: 24px;
  padding-bottom: 8px;
  &.is-active {
    background-color: #E7F3FF;
  }
}