.user_list.upermission,
.group.group_user,
.contacts_group.contacts_user,
.group_list.gpermission,
.app_list.apermission {
  .tree-page {
    display: inline-block;
    width: 30%;
    height: calc(100vh - 84px);
    vertical-align: top;
    ::v-deep .el-card {
      height: 100%;
    }
  }
  .table-page {
    display: inline-block;
    width: 70%;
    height: 100%;
  }
}

.desktop.notice {
  .dashboard-page {
    display: inline-block;
    width: 75%;
    height: calc(100vh - 84px);
    vertical-align: top;
    ::v-deep .el-card {
      height: 100%;
    }
  }
  .table-page {
    display: inline-block;
    width: 25%;
    height: 100%;
  }
}