.user_list,
.group,
.contacts_group,
.group_list,
.app_list {
  display: flex;
  .tree-page {
    flex: 1;
    height: calc(100vh - 86px - 2rem);
    vertical-align: top;
    ::v-deep .el-card {
      height: 100%;
    }
  }
  .table-page {
    flex: 3;
    height: calc(100vh - 86px - 2rem);
    margin-left: 0px;
  }
}

.desktop {
  display: flex;
  padding: 1rem;
  height: calc(100vh - 86px) !important;
  overflow: hidden !important;
  box-sizing: border-box;

  .dashboard-page {
    flex: 3;
    height: 100%;
    margin: 0px;
    ::v-deep .el-card__body {
      padding: 0px;
      height: calc(100% - 55px);
      overflow: auto;
    }
    ::v-deep .drag-board {
      width: auto !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .notice-modules {
    flex: 1;
    margin: 0px;
    height: 100%;
    margin-left: 1rem;
    overflow: auto;
  }
}

.marketplace {
  .dashboard-page {
    ::v-deep .el-card__body {
      padding: 0px 0 10px 0;
      height: calc(100% - 55px);
      overflow: auto;
    }
  }
}

.statistics {
  .el-card {
    background-color: transparent;
    border: 0px;
    height: auto;
    overflow: auto;
    ::v-deep .el-card__body {
      padding: 0px;
    }
    ::v-deep .drag-board {
      .item {
        max-height: 500px;
        width: 100%;
        margin-bottom: 10px;
        .el-card__header {
          cursor: move !important;
        }
      }
    }
  }
}

.profile,
.contacts_switch,
.login_register_extension_config,
.notice_manage {
  .admin-tabs-page {
    height: calc(100vh - 86px - 2rem);
    background-color: #FFF;
  }
  ::v-deep .el-card {
    border: 0px;
  }
}

.statistics {
  .admin-tabs-page {
    height: calc(100vh - 86px - 2rem);
    background-color: #FFF;
  }
}

.third_part_account,
.extension,
.maketplace {
  ::v-deep .el-card__body {
    position: relative;
    height: calc(100% - 55px);
    overflow: auto;
    .el-table {
      overflow: auto;
    }
  }
}

.subuser,
.sub_admin_config,
.app,
.user,
.admin-group_user-page,
.device,
.permission_list,
.admin-apermission-page,
.authorization_server,
.authorization_agent,
.external_idp,
.webhook,
.user_log,
.admin_log,
.admin-contacts_user-page,
.notice_manage,
.group,
.contacts_group {
  .table-page {
    height: calc(100vh - 86px - 2rem);
    ::v-deep .el-pagination {
      border: 0px !important;
    }
    ::v-deep .el-card {
      height: calc(100% - 39px) !important;
    }
    ::v-deep .el-card__body {
      position: relative;
      height: calc(100% - 55px);
      overflow: auto;
      .el-table {
        overflow: auto;
      }
    }
  }
}

.log_config {
  ::v-deep .el-card__body {
    .row {
      display: block !important;
    }
  }
}