.user_list,
.group,
.contacts_group,
.group_list,
.app_list,
.permission_group {
  display: flex;
  .tree-page {
    flex: 1;
    height: calc(100vh - 86px - 2rem);
    vertical-align: top;
    ::v-deep .el-card {
      height: 100%;
    }
  }
  .table-page {
    flex: 3;
    height: calc(100vh - 86px - 2rem);
    margin-left: 0px;
  }
}

.desktop {
  display: flex;
  padding: 1rem;
  height: calc(100vh - 86px) !important;
  overflow: hidden !important;
  box-sizing: border-box;

  .dashboard-page {
    flex: 3;
    height: 100%;
    margin: 0px;
    ::v-deep .el-card__body {
      padding: 0px;
      height: calc(100% - 55px);
      overflow: auto;
    }
    ::v-deep .drag-board {
      width: auto !important;
      .item {
        display: inline-block;
      }
    }
  }
  .notice-modules {
    flex: 1;
    margin: 0px;
    height: 100%;
    margin-left: 1rem;
    overflow: auto;
  }
}

.statistics {
  .admin-statistics-page {
    ::v-deep .el-card {
      overflow-y: auto;
      .item {
        width: 100%;
        height: 500px;
      }
    }
  }
}

.profile,
.contacts_switch,
.login_register_extension_config,
.notice_manage,
.profile_config_editfields {
  .admin-tabs-page {
    height: calc(100vh - 86px - 2rem);
    background-color: #FFF;
  }
  ::v-deep .el-card {
    border: 0px;
  }
}

.third_part_account {
  ::v-deep .el-card__body {
    position: relative;
    height: calc(100% - 55px);
    overflow: auto;
    .el-table {
      overflow: auto;
    }
  }
}

.extension {
  ::v-deep .dashboard-page {
    height: calc(100vh - 86px - 2rem);
    .el-card {
      height: calc(100% - 32px);
    }
    .el-card__body {
      position: relative;
      height: calc(100% - 55px);
      overflow: auto;
      .el-table {
        overflow: auto;
      }
    }
    .el-pagination {
      background-color: #fff;
      border-top: 0px;
    }
  }
}

.subuser,
.sub_admin_config,
.app,
.user,
.admin-group_user-page,
.device,
.permission_list,
.admin-apermission-page,
.authorization_server,
.authorization_agent,
.external_idp,
.webhook,
.user_log,
.admin_log,
.admin-contacts_user-page,
.notice_manage,
.group,
.contacts_group,
.all_tenant {
  .table-page {
    height: calc(100vh - 86px - 2rem);
    ::v-deep .el-card {
      height: calc(100% - 39px) !important;
    }
    ::v-deep .el-card__body {
      position: relative;
      height: calc(100% - 55px);
      overflow: auto;
      .el-table {
        overflow: auto;
      }
    }
  }
}

.log_config {
  ::v-deep .el-card__body {
    .row {
      display: block !important;
    }
  }
}