@import '../../../utils.less';

.ui-admin-apps-perm {
  padding: 20px 40px 20px 30px;
  overflow-y: auto;
  background-color: @bg-2;

  &--head {
    justify-content: space-between;

    .search {
      width: 270px;
    }
  }

  &--menu {
    margin-top: 20px;

    .ivu-menu-item {
      display: flex;
      justify-content: center;
    }

    .ivu-menu-light.ivu-menu-horizontal {
      .ivu-menu-item-active {
        &::after {
          display: none;
        }

        &::before {
          position: absolute;
          bottom: -2px;
          width: 100px;
          height: 1px;
          background-color: @primary-color;
          content: '';
        }
      }
    }
  }

  .table-wrapper {
    .table {
      .perm-results {
        display: flex;
        justify-content: center;
      }

      .dropdown-column {
        display: flex;
        justify-content: flex-end;

        .dropdown-column-table-btn {
          color: @primary-color;
          cursor: pointer;
        }
      }

      .table-btn {
        margin: 0 24px 0 10px;
        white-space: nowrap;
        color: @primary-color;
        cursor: pointer;
      }
    }
  }

  .page-wrapper {
    margin-top: 12px;

    .page {
      justify-content: flex-end;
    }
  }

  .perm-title {
    margin-top: 30px;

    .subtitle {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 18px;
      color: @color-2;

      &::before {
        display: inline-flex;
        width: 6px;
        height: 18px;
        margin-right: 10px;
        background: @primary-color;
        content: '';
      }
    }

    .inner {
      display: flex;
      align-content: center;
      align-items: center;

      .new-perm {
        margin-bottom: 20px;
        margin-left: 10px;

        .add-perm {
          font-size: 15px;
        }

        .icon {
          color: @primary-color;
        }
      }
    }
  }

  .permtags {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
