@import '../../utils.less';

.ui-tree-item {
  display: inline-block;
  height: 28px;
  padding: 0 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: @color-2;
  background: unset;

  &-bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 28px;
    border-radius: 4px;
    overflow: hidden;
  }

  &-title {
    display: inline-flex;

    > span {
      width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.active {
    font-weight: 600;
    color: @color-1;

    .ui-tree-item-bg {
      background-color: @bg-3;
      opacity: 0.6;
      cursor: pointer;
    }
  }

  &:not(.active) {
    &:not(.disabled) {
      background: unset;

      .ui-tree-item-bg:hover {
        background-color: @bg-3;
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }

  .icon {
    margin-right: 8px;
  }
}

.ui-group-tree-component {
  display: flex;
  flex: 1;
  flex-direction: column;

  ul,
 li {
    list-style: none;
  }

  .search {
    flex: none;
    width: auto;
    margin: 0 20px;
    margin-bottom: 16px;
  }

  ul.search-result-list {
    padding: 0 20px;

    li {
      display: flex;
      align-items: center;
      height: 28px;
      padding: 0 12px;
      border-radius: 4px;
      overflow: hidden;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      color: @color-2;

      &.active {
        font-weight: 600;
        background: #2A2A2A;
      }

      &:not(.active) {
        &:not(.disabled) {
          &:hover {
            background: #2A2A2A;
          }
        }
      }

      span {
        margin-left: 6px;
      }
    }
  }

  .breadcrumb {
    padding: 0 20px;
    margin-bottom: 10px;
  }
}

.ui-group-tree-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 20px;
  overflow-y: auto;
}

.ui-group-tree {
  position: relative;

  .ivu-tree-arrow {
    position: relative;
    z-index: 2;
    &-open {}
  }

  .ivu-tree-arrow i {
    font-size: 18px;
  }

  .ivu-icon-ios-arrow-forward {
    &::before {
      content: "\F341";
    }
  }
}
