@import '../../../utils.less';

.ui-edit-manager-page {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  background: @bg-2;

  ul,
  li {
    list-style: none;
  }

  &--label {
    flex: none;
    width: 80px;
    height: 30px;
    line-height: 30px;
  }

  &--help {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #828282;
  }

  &--content-side {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  &--body {
    display: flex;
    flex: auto;
    flex-direction: column;
    overflow-y: auto;
  }

  &--body-wrapper {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 1020px;
    padding-right: 80px;
    margin-bottom: 100px;
    // overflow-y: auto;

    .manager-settings {
      display: flex;
      flex-direction: column;
      padding: 40px 0 60px;
      font-size: 14px;
      line-height: 20px;

      &-users {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }

      &-scopes {
        display: flex;

        &-content {
          display: flex;
          flex: 1 0 auto;
          flex-direction: column;
        }

        .radio-mode {
          margin-bottom: 6px;
        }
      }

      .node-user-list {
        display: flex;
        flex: none;
        flex-wrap: wrap;
        align-items: center;
        width: 860px;
        height: auto;
        min-height: 32px;
        padding: 3px;
        border: 1px solid @bg-1;
        border-radius: 4px;
        background-color: @bg-3;

        span.placeholder {
          margin-left: 3px;
          font-size: 14px;
          color: @color-3;
        }

        span.tag {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 22px;
          padding: 0 12px;
          margin: 3px;
          border-radius: 4px;
          line-height: 30px;
          background-color: @bg-4;
        }
      }
    }

    .perm-settings {
      display: flex;
      flex: auto;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;
      }

      &-main {
        display: flex;

        &-basic-list,
        &-app-list {
          display: flex;
          flex: 1 0 auto;
          flex-direction: column;

          .title {
            font-size: 14px;
          }

          ul {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            li {
              display: flex;
              align-items: center;
              margin-bottom: 20px;

              .logo {
                display: flex;
                width: 30px;
                height: 30px;
                border-radius: 6px;
                overflow: hidden;

                img {
                  display: inline-flex;
                  width: 100%;
                  height: 100%;
                }
              }

              .name {
                flex: 1;
                margin-left: 10px;
              }

              .checkbox {
                span:last-child {
                  display: none;
                }
              }
            }
          }
        }

        &-basic-list {
          margin-right: 170px;
        }
      }
    }
  }

  &--footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    border-top: 1px solid @bg-1;
    background-color: @bg-2;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 1020px;
      padding-right: 40px;
    }

    button:first-child {
      margin-right: 12px;
    }
  }
}
