@import '../../../utils.less';

.ui-manager-page {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 30px;
  background-color: @bg-2;

  &--header {
    padding-bottom: 30px;
  }
  &--table {
    ul, li {
      list-style: none;
    }
  }

  .tags-cell {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    span.tag {
      height: 22px;
      line-height: 30px;
      padding: 0 12px;
      margin: 3px 3px;
      background-color: @bg-4;
      border-radius: 4px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
  .operate-cell {
    a.delete {
      color: #E81C1C;
    }
  }
}
