@import '../../../../utils.less';

.ui-applist-comp {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  &--header {
    display: flex;
    flex: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;

    .title {
      display: inline-flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;

      &::before {
        display: inline-flex;
        width: 6px;
        height: 14px;
        margin-right: 10px;
        background-color: @primary-color;
        content: '';
      }
    }
  }

  &--search {
    flex: none;
    margin: 18px 30px 18px 20px;
  }

  &--results {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 600px;
    overflow-y: auto;

    ul.result-list {
      margin: 0 44px 0 10px;

      li {
        display: flex;
        align-items: center;
        padding: 0 12px;
        border-radius: 4px;
        overflow: hidden;

        &.active,
        &:hover {
          background-color: @bg-3;
        }

        .app-logo {
          display: inline-flex;
          width: 30px;
          height: 30px;
          margin: 10px 12px;
          border: none;
          border-radius: 4px;
          overflow: hidden;
        }

        .app-name {
          font-size: 14px;
        }
      }
    }
  }
}
