@import '../iview.less';

@import '../utils.less';
@import '~font-awesome/less/font-awesome.less';

.mk-lg-base();
.mk-lg-icon();
.mk-simple-flex();


.lgui-toolbar {
  text-align: right;
  margin-bottom: 10px;
  background: #f2f2f2;
  padding: 3px;
}

// 全局滚动条样式
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 1px @bg-3;
  background: @bg-3;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px @bg-2;
  background: @bg-2;
}
